<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row bg-warning sticky-top" style="height: 55px">
        <div class="col d-flex align-items-center">
          <fa-icon
            [icon]="faCoffee"
            style="font-size: 30px; margin-right: 8px; color: brown"
          ></fa-icon>
          <div style="color: brown; font-size: 20px; font-weight: bold">
            Coffee Shop
          </div>
        </div>

        >

        <div class="col d-flex justify-content-end align-items-center">
          <a
            class="btn btn-outline-light mr-1"
            routerLink="/home/about-us"
            style="color: brown; font-size: 20px; font-weight: bold"
          >
            About Us
          </a>

          <a
            class="btn btn-outline-light mr-1"
            routerLink="/home/menu-card"
            style="color: brown; font-size: 20px; font-weight: bold"
          >
            Menu Card
          </a>

          <a
            class="btn btn-outline-light mr-1"
            routerLink="/home/order-here"
            style="color: brown; font-size: 20px; font-weight: bold"
          >
            Order Here
          </a>

          <a
            class="btn btn-outline-light mr-1"
            routerLink="/home/contact"
            style="color: brown; font-size: 20px; font-weight: bold"
          >
            Contact Us
          </a>

          <button
            class="btn btn-outline-light mr-1"
            (click)="processLogout()"
            style="color: brown; font-size: 20px; font-weight: bold"
          >
            Log Out
          </button>
        </div>
      </div>

      <router-outlet></router-outlet>
    </div>
  </body>
</html>
