<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="contact"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
      "
    >
      <div style="font-size: 50px;color: aliceblue;">contact Us Here!</div>

      <div style="font-size: 30px;color: aliceblue;">Email:coffeeshop@gmail.com</div>
      <div style="font-size: 30px;color: aliceblue;">Phone Number:8806044953</div>
      <div style="font-size: 30px;color: aliceblue;">Address:juhu mumbai</div>
      <div style="font-size: 30px;color: aliceblue;">copyright @www.greenmarket.com.All rights reserved!</div>

    </div>
  </body>
</html>
