<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
      "
    >
      <div style="font-size: 200px">404</div>

      <div style="font-size: 40px">Sorry, we can't find the page !</div>
    </div>
  </body>
</html>
